* {
	box-sizing: border-box;
}

.column {
	float: left;
	border-right: 1px #BBB solid;
}

.column__side-menu,
.column__chat {
	max-width: 200px;
}

.column__mail-list {
	max-width: 300px;
}

.column__mail-body {
	min-width: 40%;
}

.btn {
	cursor: pointer;
}

.btn__compose {
	background-color: aqua;
	border-radius: 5px;
	color: white;
	padding: 10px;
}